<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>${CURRENT_PROJECT_VERSION}</string>
	<key>CFPlugInDynamicRegistration</key>
	<false/>
	<key>CFPlugInFactories</key>
	<dict>
		<key>0F793F56-8C17-4BA0-9201-D52FEC6C2702</key>
		<string>FeedbackXBOBTFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>F4545CE5-BF5B-11D6-A4BB-0003933E3E3E</key>
		<array>
			<string>0F793F56-8C17-4BA0-9201-D52FEC6C2702</string>
		</array>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 C.W. Betts. All rights reserved.</string>
</dict>
</plist>
