<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>${CURRENT_PROJECT_VERSION}</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>WirelessGamingReceiverForWindows</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.mice.driver.WirelessGamingReceiver</string>
			<key>IOClass</key>
			<string>WirelessGamingReceiver</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>1817</integer>
			<key>idVendor</key>
			<integer>1118</integer>
		</dict>
		<key>WirelessGamingReceiverForWindowsAlternate</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.mice.driver.WirelessGamingReceiver</string>
			<key>IOClass</key>
			<string>WirelessGamingReceiver</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>657</integer>
			<key>idVendor</key>
			<integer>1118</integer>
		</dict>
		<key>WirelessGamingReceiverForWindowsAlternateAlternate</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.mice.driver.WirelessGamingReceiver</string>
			<key>IOClass</key>
			<string>WirelessGamingReceiver</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>681</integer>
			<key>idVendor</key>
			<integer>1118</integer>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>${MIN_MACOS_VERSION}</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0d1</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOHIDFamily</key>
		<string>1.2</string>
		<key>com.apple.iokit.IOUSBFamily</key>
		<string>1.8</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0</string>
	</dict>
</dict>
</plist>
