<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>XboxOneBluetooth</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.IOBluetoothHIDDriver</string>
			<key>IOCFPlugInTypes</key>
			<dict>
				<key>F4545CE5-BF5B-11D6-A4BB-0003933E3E3E</key>
				<string>360Controller.kext/Contents/PlugIns/Feedback360.plugin</string>
				<key>FA12FA38-6F1A-11D4-BA0C-0005028F18D5</key>
				<string>IOHIDFamily.kext/Contents/PlugIns/IOHIDLib.plugin</string>
				<key>7DDEECA8-A7B4-11DA-8A0E-0014519758EF</key>
				<string>IOHIDFamily.kext/Contents/PlugIns/IOHIDLib.plugin</string>
			</dict>
			<key>IOClass</key>
			<string>IOBluetoothHIDDriver</string>
			<key>IOProviderClass</key>
			<string>IOBluetoothL2CAPChannel</string>
			<key>ProductID</key>
			<integer>736</integer>
			<key>VendorID</key>
			<integer>1118</integer>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2016 GitHub. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.IOBluetoothHIDDriver</key>
		<string>4.1.7f2</string>
		<key>com.apple.iokit.IOHIDFamily</key>
		<string>1.8.1</string>
		<key>com.apple.kpi.iokit</key>
		<string>12.5</string>
		<key>com.apple.kpi.libkern</key>
		<string>12.5</string>
	</dict>
</dict>
</plist>
